
/* To ensure the canvas takes full screen */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

canvas {
    display: block;
    height: 100vh; /* Make sure canvas occupies full height */
}

/* Style for GUI to overlay inside the canvas */

nav {
    width: 100%;
    /* background-color: #333; */
    color: white;
    padding: 10px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; /* Ensure it's on top of the canvas */
}

.dg.ac {
    position: absolute;
    top: 60px; /* Adjust to make space for the navbar */
    right: 20px;
    z-index: 5; /* Make sure GUI is above the canvas but under the navbar */
}

.download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    color: #ffffff;
    background-color: #2980b9;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.download-link:hover {
    background-color: #3498db;
}
.return-button {
    margin: 20px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.return-button:hover {
    background-color: #c0392b;
}

.model-item {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.25);
}

.model-item > div:nth-child(1) {
    width: 200px;
    height: 200px;
}
